<!--Created by Mikael Lindahl (mikael) on 10/9/16.-->

<head>
    <title>
        {{title}}
    </title>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="http://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
