<!--Created by Mikael Lindahl (mikael) on 10/1/16.-->

<!DOCTYPE html>

<html lang="en">

{{{head}}}

<body role="document">
<div class="main-login ">

    <div class="row card-login">
        <h2>{{serverName}}</h2>

        <form>

            <input id="user" type="text" class="form-control" placeholder="User">
            <input id="password" type="password" class="form-control" placeholder="Password">
            <hr/>
            <input id="login" class="btn btn-login btn-block" type="button" value="Login">

        </form>

        <div id="result"></div>

    </div>

</div>

</body>
</html>
<script src="/bundles/login.js"></script>

