

<nav class="navbar navbar-dark bg-primary navbar-fixed-top">

    <button class="navbar-toggler hidden-lg-up collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <a href="#" class="navbar-brand">Crash boom bang</a>
    <!--</div>-->
    <div id="navbar" class="collapse navbar-toggleable-md" aria-expanded="false" style="height: 0px;">
        <ul class="nav navbar-nav pull-right">
            {{#if crash_dump}}
            <li class="nav-item active"><a class="nav-link" href="/crash_dumps/view">Crash dumps</a></li>
            <li class="nav-item"><a class="nav-link" href="/symbols/view">Symbols</a></li>
            {{else}}
            <li class="nav-item"><a class="nav-link" href="/crash_dumps/view">Crash dumps</a></li>
            <li class="nav-item active"><a class="nav-link" href="/symbols/view">Symbols</a></li>
            {{/if}}

        </ul>
    </div>
</nav>

